.food .text{
    padding-top: 0;
}
body{
    background-color: white;
}
#top-navbar {
    background-color: white;
  
    transition: background-color 0.3s ease-out;
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.15);
    padding-top: 1%;
  }
.food{
    margin-top: 70px;
    margin-left: 230px;
}
.food h3{
    font: 550 21px arial;
    text-align: center;
    margin-right: 130px;
    padding-bottom: 60px;

}
.kard{
    display: flex;
    width: 85%;
    border-radius: 7px;
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.15);
    margin-bottom: 60px;
}
.kub{
    display: flex;
    width: 85%;
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.15);
    margin-bottom: 60px;
    justify-content: space-between;
}
.kard .text{
   text-align: left; 
   margin-left: 60px;
   margin-top: 100px;
   width: 50%;

}
.izah{
    margin-left: 50px;
    margin-top: 100px;
}
.izah h6{
    font: 550 23px arial;
    padding-bottom: 15px;
}
.izah p{
    font: 500 15px arial;
    color: rgb(78, 76, 76);
    line-height: 1.5;
}
.kard .text h6{
    font: 550 23px arial;
    padding-bottom: 15px;
}
.kard .text p{
    font: 500 15px arial;
    color: rgb(78, 76, 76);
    line-height: 1.5;
}
.kub img{
    height: 50vh;
    width: 35%;

}
.kard img{
    height: 50vh;
    width:35%;
    border-radius: 7px 0 0 7px;
}
.izah{
    text-align: left; 
    width: 50%;
}
hr{
    color: rgb(96, 94, 94);
    margin-bottom: 30px;
}
hr{
    margin-top: 50px;
    color: rgba(101, 98, 98, 0.619);
}


@media only screen and (max-width: 970px) {
  .kard {
    display: flex;
    flex-direction: column;
    }

    .kub{
        display: flex;
        flex-direction: column;
    }

    .kard .text{
     width: 300px;
    }
  }