.start{
    margin-left: 75px;
    text-align: center;
    margin-top: 70px;
    width: 1370px;
}
.start h1{
    font: 550 21px arial;
    padding-bottom: 20px;
}
.start h5{
    font: normal 450 15px arial;
    line-height: 1.5;
    color: rgb(71, 69, 69);
}
.start p{
    font: 450 15px arial;
    color: rgb(71, 69, 69);
    line-height: 1.5;
}