body {
  background-color: white;
}

.sidebar {
  height: 100%;
  width: 240px;
  position: fixed;
  padding-top: 20px;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar li {
  padding: 8px 16px;
}

#top-navbar {
  background-color: white;

  transition: background-color 0.3s ease-out;
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.15);
  padding-top: 1%;
}

.sidebar a {
  color: rgb(8, 8, 8);
  text-decoration: none;
}

.yemeks {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.yemek {
  width: 95%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.15);
  padding: 20px;
  border-radius: 7px;
}

.yemek img {
  width: 250px;
  height: 30vh;
  object-fit: contain;
  justify-content: center;
  padding: 10px;
}

.side-right h5 {
  font: 550 18px arial;
  color: #e4002b;
  margin: 10px;
}

.side-right h4 {
  font: 550 17px arial;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 15px;
}

.side-right p {
  font: 400 14px arial;
  color: #403e3e;
  line-height: 1.3;
  margin: auto;

}

.side-right .card {
  width: 260px;
  border: 1px solid rgba(223, 218, 218, 0.547);
  box-shadow: none;
  margin-top: 30px;
  margin-bottom: 15px;
}

.side-right {
  margin-left: 330px;
  margin-top: 150px;
}

.yemek {
  margin-bottom: 20px;
}
.isactive{
  color: #e4002b !important;
}

@media only screen and (max-width: 1200px) {
  .sidebar {
    display: none;

  }

  .side-right {
    margin-left: 0;

  }

  .yemeks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 1130px) {
  .yemeks  {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 860px) {
  .yemeks  {
    
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 590px) {
  .yemeks  {
    
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 590px) {
  .yemek  {
    
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  }
}

@media only screen and (max-width: 590px) {
  .nov {
    
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  }
}

